<!DOCTYPE html>
<html>
<head>
    <title>captcha</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="imagetoolbar" content="no">
    <script type="text/javascript" src="static/js/jquery.js"></script>
    <script type="text/javascript" src="static/js/captcha.js"></script>
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
    <link href="static/css/captcha.css" rel="stylesheet">
</head>

<body>
<div class="slider-captcha">
    <div class="captcha-mask"></div>
    <div class="captcha-body">
        <div class="card">
            <div class="card-header">
                <span>请完成安全验证!</span>
            </div>
            <div class="card-body">
                <div id="captcha">
                    <div class="questionDiv">
                        <img class="questionImg"/>
                    </div>
                    <div class="answerDiv">
                        <img class="answerImg"/>
                    </div>
                    <div class="sliderContainer">
                        <div class="sliderBg"></div>
                        <div class="sliderMask">
                            <div class="slider">
                                <i class="sliderIcon fa fa-arrow-right"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>