<!DOCUMENT html>
<html>
<head>
    <title>captcha</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="static/js/jquery.js"></script>
    <link href="static/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>
    <button class="btn">安全验证</button>
    <script>
        var $btn = document.querySelector('.btn');
        $btn.onmousedown = function(){
            var href = location.href;
            window.location.href= href + href.endsWith("/") ? "captcha" : "/captcha";
        };
    </script>
</body>
</html>